@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}

/*--COMINZO NAV SUPERIOR----------------------------------*/
.navbar-brand{
    font-family: 'Righteous', cursive;
}
/*--FIN NAV SUPERIOR----------------------------------*/

/*--COMINZO CUSTOM NAV SUPERIOR----------------------------------*/
.bg-primary{
    background-color: #75a2ec!important;
}
.nav-link{
    color: #ffffff!important;
}
.navbar-nav :hover{
    color: #ffffffa9!important;
}
/*--FIN CUSTOM NAV SUPERIOR----------------------------------*/

/*--COMINZO LOGO/NOMBRE EMPRESA----------------------------------*/
.img-guest{
    height: 34px;
    float: left;
    margin: 0px 15px 0px 15px;
}
/*--FIN LOGO/NOMBRE EMPRESA----------------------------------*/

/*--COMINZO DASHBOAR----------------------------------*/
main{
    display: flex;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

/*--COMINZO NAV IZQUIERDO----------------------------------*/
.sidebar{
    background-color: #323233;
    width: 20%;
}

.sidebar ul{
    padding-left: 0;
}

.sidebar ul li{
    list-style:none;
    padding-bottom: 25px;
    margin-left: 19%;
}

.sidebar ul li a{
    color: #c7c5c5;
    text-decoration: none;
}

.sidebar ul li a span{
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sidebar {
    display: none;
  }
}

.header-sidebar {
    color: #cac7c4;
    margin-bottom: 40px;
    font-size: 1rem;
    text-align: center;
    background-color: #444848;
    padding: 12px 9px!important;
}
.col-md-2{
    padding-left: 0px;
    padding-right: 0px;
}
/*--FIN NAV IZQUIERDO----------------------------------*/

/*--COMIENZO CUSTOM CALENDAR GENERAL----------------------------------*/
.calendar{
    background-color: #ecf0f5;
    width: 100%;
    display: flex;
}

/*--CUSTOM CALENDAR----------------------------------*/
.box-calendar{
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 10px;
    width: 100%;
}

h2{
    font-weight: normal;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: capitalize;
}

.fc {
    padding-top: 15px;
    padding: 0.5rem;
    
}
/*--FIN CUSTOM CALENDAR----------------------------------*/

/*--COMIENZO CUSTOM MODAL AGREGAR EVENTOS----------------------------------*/
.customH{
    margin-bottom: 1rem!important;
}
.customR{
    margin-bottom: 0px;
}
/*--FIN CUSTOM MODAL AGREGAR EVENTOS----------------------------------*/

/*--COMINZO RESPONSIVE NAV FULLCALENDAR----------------------------------*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .fc-today-button{
    position: absolute!important;
    margin-left: -9px!important;
  }
  .fc-toolbar h2{
    position: absolute!important;
    padding-left: 30px;
    font-size: 1.4em!important;
    margin: -63px!important;
  }

  .fc-toolbar.fc-header-toolbar {
    margin-top: 3em;
}
  .fc-today-button{
    margin-left: -93px!important;
    margin-top: -47px!important;
}

  .calendar {
    height: 90vh!important;
}
.fc-view, .fc-view > table {
    height: 67vh!important;
}
.fc-time-grid-container{
    height: 55vh!important;
}
.fc-scroller{
    height: 50vh!important;
}
}

/*--FIN RESPONSIVE NAV FULLCALENDAR----------------------------------*/

